h2, h3 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  border: none;
}

.header {
  max-width: 1100px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
  padding: 15px;
  border-bottom: 1px solid black;
}

.main {
  max-width: 1100px;
  margin: 0 auto 15px;
  padding: 15px;
  text-align: center;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.product-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #2a2a2a;
  box-shadow: 0px 6px 10px 0px rgba(46, 47, 66, 0.08);
}

/* Cart */

.fixed-position-cart {
  text-align: center;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 15px;
  min-width: 650px;
  background-color: #f8f9fa;
}

.none-position-cart {
  display: none;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 15px;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid black;
}

.cart-main {
  margin: 0 auto;
  padding: 15px;
}

.data-cart {
  margin: 0;
  padding: 0;
  list-style: none;
}

.data-cart-item {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: #f8f9fa;
  border: 1px solid #2a2a2a;
  border-radius: 4px;
}

.quantity-settings {
  display: flex;
  gap: 5px;
  align-items: center;
}

.quantity-settings-btn,
.close-cart-btn,
.delete-item-btn {
  padding: 0;
  background-color: inherit;
  border: none;
}

.plus-minus,
.close-cart-icon,
.delete-item-btn-icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.purchase-amount-preview {
  width: 600px;
  margin: 20px auto;
}

.purchase-amount-preview h3 {
  margin: 10px auto;
}

dl {
  display: flex;
  flex-direction: column;
}

dl>div {
  display: flex;
}

dt {
  align-items: baseline;
  display: flex;
  white-space: nowrap;
  flex-grow: 1
}

dt::after {
  content: "";
  display: block;
  height: 1px;
  min-width: 25px;
  width: 100%;
  background-image: linear-gradient(90deg, currentcolor, currentcolor 25%, #0000 0, #0000);
  background-size: 4px 1px;
}

.discount-form {
  margin: 10px;
}

.discount-group {
  display: inline-flex;
  flex-direction: column;
}

.discount {
  margin-right: 8px;
  padding: 8px;
  border-radius: 4px;
}

.total-price {
  text-decoration: underline;
}

.error-message {
  color: #dc3545;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}